<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSUMINDO API - CEP</title>
    {% load static %}
    <link href="{% static 'cep/output.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="text-center bg-white p-10 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-3xl font-bold text-blue-500">API CEP</h1>
        <p class="text-blue-700 mt-4">Digite o CEP para verificar sua localização:</p>

        <form method="POST" id="cep-form">
            {% csrf_token %}
            <input id="cep" type="text" name="cep" placeholder="Digite o CEP">
            <button type="submit">
                Verificar
            </button>

            <p>Rua:</p>
            <div id="rua"></div>

            <p>Bairro:</p>
            <div id="bairro"></div>

            <p>Cidade:</p>
            <div id="cidade"></div>

            <p>UF:</p>
            <div id="uf"></div>

            <p>Região:</p>
            <div id="regiao"></div>
        </form>

    </div>

    <script>
        console.log('teste ok')

        document.getElementById('cep-form').addEventListener('submit', function (event) {
            event.preventDefault();  // Impede o envio normal do formulário
            $.ajax({
                type: 'POST',
                url: 'executarAPICEP/'+ document.getElementById('cep').value + '/',
                data: { cep: document.getElementById('cep').value  },
                success: function (response) {
                    // Código a ser executado em caso de sucesso
                    const div_rua = document.getElementById('rua')
                    div_rua.textContent = response['logradouro'] 

                    const div_bairro = document.getElementById('bairro')
                    div_bairro.textContent = response['bairro']

                    const div_cidade = document.getElementById('cidade')
                    div_cidade.textContent = response['localidade']

                    const div_uf = document.getElementById('uf')
                    div_uf.textContent = response['uf']

                    const div_regiao = document.getElementById('regiao')
                    div_regiao.textContent = response['regiao']
                },
                error: function (error) {
                    // Código a ser executado em caso de erro
                }
            });
        });
    </script>

</body>

</html>