{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{% static 'CPFeCEP/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="card_form">
        <h1>Cadastro de Usuário</h1>
        <p>Complete suas informações:</p>

        <form method="POST" id="cep-form">
            {% csrf_token %}
            
            <!-- Campo Nome -->
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input id="nome" type="text" name="nome" placeholder="Digite seu nome" required>
            </div>

            <!-- Campo CPF -->
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input id="cpf" type="text" name="cpf" placeholder="Digite o CPF" onkeyup="tratar_cpf()" required>
                <div id="recebe_validacao_cpf"></div>
            </div>

            <!-- Campo CNPJ -->
            <div class="form-group">
                <label for="cnpj">CNPJ:</label>
                <input id="cnpj" type="text" name="cnpj" placeholder="Digite o CNPJ">
            </div>

            <!-- Campo Email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" placeholder="Digite seu email" required>
            </div>

            <!-- Campo CEP -->
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input id="cep" type="text" name="cep" placeholder="Digite o CEP" onkeyup="tratar_cep()" required>
            </div>

            <!-- Campos preenchidos automaticamente -->
            <div class="form-group">
                <p class="respostas_api" >Rua:</p>
                <div class="respostas_api corpreta" id="rua"></div>
            </div>

            <div class="form-group">
                <p class="respostas_api" >Bairro:</p>
                <div class="respostas_api corpreta" id="bairro"></div>
            </div>

            <div class="form-group">
                <p class="respostas_api" >Cidade:</p>
                <div class="respostas_api corpreta" id="cidade"></div>
            </div>

            <div class="form-group">
                <p class="respostas_api" >UF:</p>
                <div class="respostas_api corpreta" id="uf"></div>
            </div>

            <div class="form-group">
                <p class="respostas_api" >Região:</p>
                <div class="respostas_api corpreta" id="regiao"></div>
            </div>

            <!-- Botão de Submit -->
            <button type="submit" class="btn-submit">REGISTRAR</button>
        </form>
    </div>    

    <script src="{% static 'CPFeCEP/js/script.js' %}"></script>
</body>

</html>
